@font-face {
  font-family: 'Oxygen';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'),
       url('~@/assets/fonts/Oxygen-Light.woff2') format('woff2'),
       url('~@/assets//fonts/Oxygen-Light.woff') format('woff'),
       url('~@/assets//fonts/Oxygen-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxygen';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Regular'), local('Oxygen-Regular'),
       url('~@/assets/fonts/Oxygen-Regular.woff2') format('woff2'),
       url('~@/assets/fonts/Oxygen-Regular.woff') format('woff'),
       url('~@/assets/fonts/Oxygen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxygen';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'),
       url('~@/assets/fonts/Oxygen-Bold.woff2') format('woff2'),
       url('~@/assets/fonts/Oxygen-Bold.woff') format('woff'),
       url('~@/assets/fonts/Oxygen-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
       url('~@/assets/fonts/SourceSansPro-Light.woff2') format('woff2'),
       url('~@/assets/fonts/SourceSansPro-Light.woff') format('woff'),
       url('~@/assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
       url('~@/assets/fonts/SourceSansPro-LightItalic.woff2') format('woff2'),
       url('~@/assets/fonts/SourceSansPro-LightItalic.woff') format('woff'),
       url('~@/assets/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('~@/assets/fonts/SourceSansPro-Regular.woff2') format('woff2'),
       url('~@/assets/fonts/SourceSansPro-Regular.woff') format('woff'),
       url('~@/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}
